body
{
  position:relative;
  font-family:arial;
}

#categories
{
  float:left;
}

#board
{
  position: absolute;
  width:630px;
  left:50%;
  margin-left: -315px;
}

h1
{
  text-align:center;
}

a:hover  img
{
  border: 3px solid orange;
}

a img
{
  border: 3px solid white;
}

.clear
{
  clear:both;
  position:relative;
}

.post
{
  display:inline-block;
  position:relative;
}

.edit
{
  float:left;
  position:absolute;
  top:135px;
  left:2px;
  padding:0px 10px;
  background-color:rgba(255, 255, 255, 0.8);
  width:180px
}

.edit a
{
  display:none;
  color:orange;
  text-decoration:none;
}
.left {float:left;}
.right {float:right}

#comments
{
  width:150px;
}
