body
{
  position:relative;
}

#categories
{
  float:left;
}

#board
{
  position: absolute;
  width:630px;
  left:50%;
  margin-left: -315px;
}

h1
{
  text-align:center;
}

a:hover  img
{
  border: 3px solid orange;
}

a img
{
  border: 3px solid white;
}

.clear
{
  clear:both;
  position:relative;
}

.post
{
  display:inline-block;
  position:relative;
}

span.edit
{
  float:left;
  position:absolute;
  top:135px;
  left:160px;
}

span.edit a
{
  display:none;
  color:black;
  text-decoration:none;
}
